
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {%block title%}
        <!-- titulo de cada pagina en concreto -->
        {%endblock %}

        | Cristhian Zapata

    </title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
</head>

<body>
    <!-- CABECERA DE LA PAGINA -->
    <header>
        <div id="logotipo">
            <!-- Logo django -->
            <img src="{% static 'imagenes/logo.png' %}" alt="" />
            <h1>Sitio Web con Django | Hokage </h1>
        </div>
    </header>

    <nav>
        
        <ul>
            <li>
                <a href="{% url 'index'%}">Inicio</a>
            </li>
            <li>
                <a href="{% url 'articulos'%}">Articulos</a>
            </li>
            <li>
                <a href="{% url 'hola_mundo'%}">Hola mundo</a>
            </li>
            <li>
                <a href="{% url 'Pagina'%}">Pagina de pruebas</a>
            </li>

            <li>
                <a href="{% url 'contacto' nombre='Cristhian' apellido='Zapata'%}">Contacto</a>
            </li>

        </ul>
    </nav>
<div class="barra">

<span class="esquina-izquierda"></span>    
<span class="relleno-barra"></span>    
<span class="esquina-derecha"></span>    
</div>

    <div id="content">
        <div class="box">
            {% block content %}

            
            <!-- Codigo que viene de templates -->
            <strong>Contenido del bloque orignial</strong>
            {% endblock %}
        </div>

    </div>
   
    <footer>
        Master en python &copy; Cristhian Zapata - {% now "d/m/Y"%}  #Para mostrar fecha
    </footer>
</body>

</html>